.header-container {
  height: 60px;
  //display: flex;
  //justify-content: space-around;
  //align-items: center;
  background-color: #666666;

  a {
    color: #dddddd;

    &:hover, &:focus {
      text-decoration: none;
      color: #ffffff;
    }

  }

}